extends /_base/templates/pc/_layout.pug

block vars
  -
    var viewport = "width=device-width, initial-scale=1.0";
    var keywords = "";
    var description = "";
    var canonical = "";
    var title = "javascript練習問題1-50";
    var robots = "index, follow";
    var og = {
      title: title,
      type: 'website',
      url: canonical,
      site_name: title,
      description: description
    };

block head
  link(rel="stylesheet" href="style.css" type="text/css")
block script
  script(src="script.js")

block body
    div.container








