@require '../../../common/css/reset.css'

body
  width 950px
  margin 0 auto

main
  margin-top  20px


.navi__title
  color #667
  font-size 20px
  display inline-block
  border dotted 2px #ddd
  margin-top  20px
  padding 20px