//-
  全てのページのベースとなるhtml
  extendして変数指定をおこなってください
  指定内容はpartials内のファイルを参照
  以下のblock内で開発を行ってください
  ・block vars
  ・block head
  ・block body
doctype html
block vars
html( prefix="og:http://ogp.me/ns#" )
  head
    include /_base/templates/partials/_head
    link(rel="stylesheet" href="/d/jrjp/cs/r/css/reset.css" type="text/css")
    link(rel="stylesheet" href="/d/jrjp/cs/r/css/general.css" type="text/css")
    block head

    script(src="/d/jrjp/cs/lib/jquery-1.12.4.min.js")
    block script
  body
    block body
