@require "nib"

body
  text-size-adjust 100%
  font-family "メイリオ", Meiryo,"ＭＳ Ｐゴシック", "MS PGothic", sans-serif

main, footer, header, section
  display block

input,button,textarea,select
  font inherit

input[readonly]
  cursor pointer

table,tr,th,td
  font-weight normal

*,*:before,*:after
  box-sizing border-box

a
  text-decoration underline
  cursor pointer

a:visited
  color #7607f1

a:link
  color #1558ce

a:hover
  color #e77611

